services:
  # API Spring Boot
  api:
    build: ./spring-api
    container_name: spring-api
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    # Port non exposé sur l'hôte, uniquement accessible via le réseau interne
    expose:
      - "8080"
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: postgres:18-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    restart: unless-stopped

  # Frontend webapp
  webapp:
    build: ./webapp
    container_name: webapp-frontend
    # Port non exposé sur l'hôte, uniquement accessible via le réseau interne
    expose:
      - "80"
    networks:
      - app-network
    restart: unless-stopped

  # Reverse Proxy Gateway (point d'entrée unique)
  gateway:
    build: ./gateway
    container_name: nginx-gateway
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - api
      - webapp
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
    driver: local
